*{
    margin: 0;
    padding: 0;
    font-family: Shadows Into Light; 
    border: 0;
    box-sizing: border-box;
}

#container {
    width: 80%; /*largeur du contenair*/
    margin: 50px  auto;/*marge  du haut qui permet aussi d'etre centré*/
    border: 2px solid #29347B;/* border solir du contenair*/
    background-color: #29347B;/* couleur du derière du conteneur*/
    color: white;/* couluer du texte*/
    padding: 0;
}
header{
    text-align: center;/* permet d'aligner le text au centre du header*/
    height: 100%;
    font-size: 52px;/* permet de definir la taille de du texte*/
}
.chat01{
    display: flex; /*permet de rendre flex les element*/
    justify-content: space-around;/*permet d'ecarté les element*/
}
.chat02{
    display: flex;/*permet de rendre flex les element*/
    justify-content: space-around;/*permet d'ecarté les element*/
}

.chat03{
    display: flex;/*permet de rendre flex les element*/
    justify-content: space-around;/*permet d'ecarté les element*/
}

